.btn-cul{
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    color: #ffffff;
    background: #ff3030;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

a{
  text-decoration: none;  
}

.btn-pnt{
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #7dff31;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    
}

.btn-his{
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #38b6ff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-hote{
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #ffde59;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-cult{
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #ff914d;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
